#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&zip_temp_layer {
    excluded-positions = <
        27
        28
        32
        33
        34
        35
        47
        48
        49
    >;
};

&trackball_listener {
    input-processors
        = <&zip_temp_layer 6 3000>,
          <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;

    scroll_input_listener {
        layers = <1 7>;
        process-next;
        input-processors
            = <&zip_xy_scaler 1 3>,
              <&zip_xy_to_scroll_mapper>,
              <&zip_scroll_scaler 1 25>,
              <&zip_scroll_transform (0)>;
    };
};
